.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.ff-oto {
  font-family: "otomanopee-one", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ff-pap{
  font-family: 'Paprika', cursive;
}

.footer-img{
  background-image: url();
}