.design_01{
  width: 280px;
  height: 400px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/design/01.jpg?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.design_02{
  width: 280px;
  height: 400px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/design/02.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}