.handmade_02_01{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.handmade_02_02{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.handmade_02_03{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}