.photo_01{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.photo_02{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.photo_03{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}