.photo_01{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/01.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_02{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/02.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_03{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/03.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_04{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/04.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_05{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/05.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_06{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/06.JPEG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}

.photo_07{
  width: 100%;
  height: 240px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/photo/07.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    width: 100%;
    height: 480px;
  }
}