.picturebook_01_01{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.picturebook_01_02{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.picturebook_01_03{
  width: 100%;
  height: auto;
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.more:hover{
  text-decoration: underline !important;
}
.more-img{
  width: 80px;
  height: 80px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/girl-4.png?raw=true);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}