.picturebook_02_01{
  width: 100%;
  height: 480px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/picturebook_02/01.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.picturebook_02_02{
  width: 100%;
  height: 480px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/picturebook_02/02.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.picturebook_02_03{
  width: 100%;
  height: 480px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/picturebook_02/03.JPG?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.picturebook_02_04{
  width: 100%;
  height: 320px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/picturebook_02/04.jpg?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}