.teach_01{
  width: 100%;
  height: 400px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/teach/01.jpg?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.teach_02{
  width: 100%;
  height: 400px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/teach/02.jpg?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;

}

.teach_03{
  width: 100%;
  height: 400px;
  background-image: url(https://github.com/hd1313169/lin/blob/main/app/assets/images/teach/03.jpg?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}