<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="icon" href="./assets/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
  <div id="nav" class="nav p-60 d-flex justify-content-between align-items-center">
    <h1 class="ff-oto">Pin-Ru <br>
      Lin</h1>

    <ul class="nav justify-content-center">
      <li class="nav-item me-32">
        <a class="nav-link fs-20" href="#about">關於我<span class="fs-14 ff-pap ms-16">about</span>
          <div class="underline mt-8"></div>
        </a>
      </li>
      <li class="nav-item me-32">
        <a class="nav-link fs-20" href="#skills">技能<span class="fs-14 ff-pap ms-16">skills</span>
          <div class="underline mt-8"></div>
        </a>
      </li>
      <li class="nav-item me-32">
        <a class="nav-link fs-20" href="#exp">經歷<span class="fs-14 ff-pap ms-16">experience</span>
          <div class="underline mt-8"></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-20" href="#portfolio">作品分享<span class="fs-14 ff-pap ms-16">portfolio</span>
          <div class="underline mt-8"></div>
        </a>
      </li>
    </ul>

    <div class="contact">
      <a href="#contact" class="contact-body ps-12 pe-16 py-8 rounded-pill">
        <p class="m-0 me-8"><span class="material-symbols-outlined">
            magic_button
          </span></p>
        <h2 class="m-0 fs-20 fw-bold">聯絡我</h2>
      </a>
    </div>
  </div>

  <a href="#nav" class="side-btn d-block position-fixed">
    <div class="main-img"></div>
  </a>
  <%- contents %>

    <footer class="footer m-auto">
      <div class="footer-img m-auto"></div>
      <div class="copyRight fs-12 text-center text-gray mb-16">Copyright © 2023 All rights reserved.</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="./assets/js/vendors.js"></script>

    <script src="./assets/js/all.js"></script>

    <script>
      (function (d) {
        var config = {
          kitId: 'tbl5xfy',
          scriptTimeout: 3000,
          async: true
        },
          h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
      })(document);
    </script>

</body>

</html>